/* 👇👇👇 SCROLL DOWN TO THE "ADD YOUR FORM STYLES BENEATH" comment (line 25) 👇👇👇*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding: 30px;
  display: flex;
  gap: 30px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

/* 👇👇👇  ADD YOUR FORM STYLES BENEATH  👇👇👇*/

form {
  border: 1px solid #a9a9a9;
  padding: 20px;
}

.subtext {
  color: #a9a9a9;
  font-weight: unset;
}

#sign-in,
#sign-up {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#sign-in-form,
#sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-group-horizontal-control {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.form-input-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}
.form-input-control > input,
select {
  height: 30px;
}

a {
  color: #335eea;
  text-decoration: none;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  height: 30px;
  padding: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  width: max-content;
  height: max-content;
  padding: 0;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  font-weight: normal;
}

input[type="submit"] {
  width: unset;
  height: unset;
  padding: 14px 20px;
  background: #335eea;
  color: white;
  font-size: 18px;
  border: 1px solid #335eea;
  border-radius: 8px;
  appearance: none;
  outline: none;
  clear: left;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #294bbb;
}

.form select {
  height: 30px;
}

.form-submit-control {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
